@import "tailwindcss";

@theme{


    --animate-wave: wave 2s infinite;
    @keyframes wave {
        0% { transform: rotate(0deg); }
        10% { transform: rotate(14deg); }
        20% { transform: rotate(-8deg); }
        30% { transform: rotate(14deg); }
        40% { transform: rotate(-4deg); }
        50% { transform: rotate(10deg); }
        60% { transform: rotate(0deg); }
        100% { transform: rotate(0deg); }
    }

    --animate-load: load 6s linear infinite;
    @keyframes load {
      to {
        transform: rotate(360deg);
      }
    }



    --color-text: #e9eaea;
    --color-background: #070808;
    --color-primary: #8eebe8;
    --color-secondary: #336e6e;
    --color-accent: #54d4d4;
    
    --color-text-50: #f2f3f3;
    --color-text-100: #e5e6e6;
    --color-text-200: #cbcdcd;
    --color-text-300: #b1b4b4;
    --color-text-400: #979b9b;
    --color-text-500: #7d8282;
    --color-text-600: #646868;
    --color-text-700: #4b4e4e;
    --color-text-800: #323434;
    --color-text-900: #191a1a;
    --color-text-950: #0c0d0d;

    --color-background-50: #f1f3f3;
    --color-background-100: #e4e7e7;
    --color-background-200: #c8d0d0;
    --color-background-300: #adb8b8;
    --color-background-400: #92a0a0;
    --color-background-500: #778888;
    --color-background-600: #5f6d6d;
    --color-background-700: #475252;
    --color-background-800: #2f3737;
    --color-background-900: #181b1b;
    --color-background-950: #0c0e0e;

    --color-primary-50: #e9fbfb;
    --color-primary-100: #d4f7f6;
    --color-primary-200: #a8f0ed;
    --color-primary-300: #7de8e4;
    --color-primary-400: #52e0dc;
    --color-primary-500: #26d9d3;
    --color-primary-600: #1fada9;
    --color-primary-700: #17827e;
    --color-primary-800: #0f5754;
    --color-primary-900: #082b2a;
    --color-primary-950: #041615;

    --color-secondary-50: #eef7f7;
    --color-secondary-100: #dcefef;
    --color-secondary-200: #b9dfdf;
    --color-secondary-300: #96cfcf;
    --color-secondary-400: #73bfbf;
    --color-secondary-500: #50afaf;
    --color-secondary-600: #408c8c;
    --color-secondary-700: #306969;
    --color-secondary-800: #204646;
    --color-secondary-900: #102323;
    --color-secondary-950: #081111;

    --color-accent-50: #ebfafa;
    --color-accent-100: #d6f5f5;
    --color-accent-200: #adebeb;
    --color-accent-300: #85e0e0;
    --color-accent-400: #5cd6d6;
    --color-accent-500: #33cccc;
    --color-accent-600: #29a3a3;
    --color-accent-700: #1f7a7a;
    --color-accent-800: #145252;
    --color-accent-900: #0a2929;
    --color-accent-950: #051414;
}

/* Adapt to your needs */
.react-activity-calendar__tooltip {
  width: max-content;
  max-width: calc(100vw - 20px);
  padding: 0.2em 0.5em;
  border-radius: 0.25em;
  background-color: #070808;
  color: #070808;
  font-size: 12px;

  /* See the `withArrow` setting. */
  .react-activity-calendar__tooltip-arrow {
    fill: #070808;
  }

  /* Use this instead of a media query - the component theme can be set */
  /* independent of the system color scheme. */
  &[data-color-scheme='dark'] {
    background-color: #070808;
    color: #e9eaea;

    .react-activity-calendar__tooltip-arrow {
      fill: #070808;
    }
  }
}
